/* You can add global styles to this file, and also import other style files */
/* body {
    margin-bottom: 60px;
} */

@import "~ng-pick-datetime/assets/style/picker.min.css";

.jumbotron-plain {
    background-color:transparent !important;
}

.jumbotron {
    padding: 2em 2em;
    border: 1px solid yellow;
}

#btn-orientation-right {
    float: right;
}

.error-msg {
    color: red;
}

.right {
    color: green;
    font-weight: bold;
}

.wrong {
    color: firebrick;
}

.nav-tabs {
    margin-bottom: 1rem;
  }